
.container-main{
margin: 10px;
   display: grid;
   grid-template-rows: 100px  1fr;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container-search{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
    margin: 50px;
}
.search-container{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.search-button{
    width: 80%;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.178);
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.42);
    
}
.search-character{
    width: 90%;
    height: 50px;
    border-radius: 8px;
    border: none;
    
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    outline: none;
    /* border: none;
    /* outline: none; */
    
}
.search-character:focus{
    border: none;
    outline: none;
    outline: 1px solid greenyellow;
    background-color: rgba(172, 255, 47, 0.196);
  
}
.btn-search{
    width: 5%;
    height: 50px;
    color: greenyellow;
    border: none;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.5s;
    margin-right: 30px;
}

.btn-search:focus{
    outline: 1px solid greenyellow;
    background-color: rgba(172, 255, 47, 0.196);
}
.text-search{
    margin: 30px;
    margin-left: 60px;
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}

.remove{
    display: none;
}
.addItem{
    display: block;
}

.error-message {
    color: red;
    font-weight: bold;
    margin: 30px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
  }
  